<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>yangshengbao market|index</title>
<meta name="keywords" content="yangshengbao store,  online shop" />
<meta name="description" content="yangshengbao Store is healty site for people  " />
<link href="/static/styles/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/static/styles/nivo-slider.css" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="/static/styles/ddsmoothmenu.css" />

<script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/ddsmoothmenu.js">

</script>

<script type="text/javascript">

ddsmoothmenu.init({
        mainmenuid: "top_nav", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

</head>
<body>
<div id=page_body >
<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

        <div id="templatemo_header">
        <div id="site_title"><h1><a href="#">在线 养生宝 商店</a></h1></div>
        <div id="header_right">
                <p>
                <a href="#">账户</a> | <a href="#">许愿单</a> | <a href="#">购物车</a> | <a href="#">结算</a> | <a href="/usrs/login">登录</a> | <a href="/users/new">注册</a></p>
            <p>
<!--                Shopping Cart: <strong>3 items</strong> ( <a href="shoppingcart.html">Show Cart</a> )-->
                        </p>
                </div>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_header -->
{% block page_body %}{% endblock %}
<div id="templatemo_footer">
        <p><a href="#">首页</a> | <a href="#">商品</a> | <a href="#">关于我们</a> | <a href="#">问题答疑</a> | <a href="#">Checkout</a> | <a href="#">联系我们</a>
               </p>

        Copyright &copy; 2015.Yangshengbao All rights reserved.
    </div> <!-- END of templatemo_footer -->

</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->

<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</div>
</body>
</html>
